<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Foggyline_Logger>
            <version>1.0.0.0</version>
        </Foggyline_Logger>
    </modules>
    <global>
        <models>
            <foggyline_logger>
                <class>Foggyline_Logger_Model</class>
                <resourceModel>foggyline_logger_resource</resourceModel>
            </foggyline_logger>
            <foggyline_logger_resource>
                <class>Foggyline_Logger_Model_Resource</class>
                <entities>
                    <logger>
                        <table>foggyline_logger_logger</table>
                    </logger>
                </entities>
            </foggyline_logger_resource>
        </models>
        <resources>
            <foggyline_logger_setup>
                <setup>
                    <module>Foggyline_Logger</module>
                </setup>
            </foggyline_logger_setup>
        </resources>
        <helpers>
            <foggyline_logger>
                <class>Foggyline_Logger_Helper</class>
            </foggyline_logger>
        </helpers>
        <blocks>
            <foggyline_logger>
                <class>Foggyline_Logger_Block</class>
            </foggyline_logger>
        </blocks>  
        <log>
            <core>
                <!--<writer_model>Zend_Log_Writer_Stream</writer_model>-->
                <writer_model>Foggyline_Logger_Model_Log_Writer_Stream</writer_model>
            </core>
        </log>              
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Foggyline_Logger before="Mage_Adminhtml">Foggyline_Logger_Adminhtml</Foggyline_Logger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
</config>
